@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want

.core-layout{
}
.outerLayout{
  height: 100%;
  background-color: #1C2025;
  color:#ADB0BB;
  overflow: scroll;
}
